@import "variables";

.chart-form-container {
  width: 40%;
  margin-right: 10px;
}

.chart-form {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 70%;
  padding: 10px;
  overflow: scroll;
}

.chart-attrs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.chart-dropzones {
  width: 50%;
}

.chart-form-dropzone {
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: $primary-color-lightest;
}

.chart-source-menu {
  width: 100%;
  position: relative;

  .current-chart-source p {
    padding: 10px;
    border-bottom: solid 1px $divider-color;
    font-weight: 600;
  }
}

.dropdown-content.chart-source-list-wrap {
  display: none;
  position: absolute;
  width: 100%;
  height: 300%;
  overflow-y: scroll;
  z-index: 5;

  .chart-source-menu-content {
    background-color: $primary-color-light;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .chart-source-menu-list li {
    cursor: pointer;
    padding: 10px;
  }

  .chart-source-menu-list li:nth-child(even) {
    background-color: $primary-color-lighter
  }

  .chart-source-menu-list li:hover {
    background-color: $accent-color-light;
  }
}
