@import "variables";

.chart-preview-container {
  width: 60%;
  margin-left: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-preview {
  margin-top: 20px;
  margin-bottom: 30px;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background-color: $primary-color-lightest;

  h3 {
    font-size: 300%;
    font-weight: 300;
    color: $secondary-text-color;
  }

  .chart-el {
    width: 70%;
    height: 60%;
  }
}

.chart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;

  button {
    border: 1px solid white;
    padding: 10px 15px;
    background-color: $primary-color-light;
  }

  button:first-of-type {
    border-radius: 10px 0 0 10px;
  }

  button:last-of-type {
    border-radius: 0 10px 10px 0;
  }

  button:hover {
    background-color: $accent-color-light;
  }

  button:active {
    background-color: $accent-color;
  }

  i {
    font-size: 40px;
    color: black;
  }
}

.chart-footer {
  text-align: right;
  color: $secondary-text-color;
  font-size: 80%;

  a, a:visited {
    color: $primary-color-light;
  }

  a:hover {
    color: $primary-color-lighter;
  }
}

.chart-submit-container {
  margin-top: 15px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    outline: none;
    border: none;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .chart-title {
    width: 40%;
    appearance: none;
    padding: 0 5px;
    border-bottom: 3px solid $divider-color;

    font-size: 120%;
    line-height: 1;
  }

  .chart-title:focus {
    border-bottom: 3px solid $accent-color;
  }

  .button {
    padding: 10px 15px;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;

    text-transform: uppercase;
    font-size: 100%;
    color: white;
  }

  .button:hover {
    background-color: $accent-color-light;
    color: $secondary-text-color;
  }

  .button:active {
    background-color: $accent-color;
    color: $secondary-text-color;
  }
}
