// User page styles
@import "../../variables";

.home-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  position: relative;
  overflow: hidden;

  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-flex: 1;
      -ms-flex: 1;
          flex: 1;

  padding: 40px;

  font-family: $font-stack;
  box-sizing: border-box;
}

.splash-text {
  position: absolute;
  width: 40%;
  height: 100%;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  justify-content: center;

  h2, p, a {
    font-weight: 300;
  }

  h2 {
    font-size: 300%;
    line-height: 1.2;
    margin: 0 0 40px 20px;
  }

  strong {
    color: $accent-color;
    font-weight: 500;
  }

  a, p {
    font-size: 180%;
    line-height: 1.1;
    margin: 0 0 20px 25px;
  }

  a, a:visited {
    color: $primary-color;
  }

  a:hover {
    color: $primary-color-light;
  }
}

.splash-chart {
  position: absolute;
  left: 35%;
  height: 120%;

  .sample-chart {
    position: absolute;
    z-index: 2;
    top: 13%;
    left: 160%;
  }

  img {
    height: 80%;
    z-index: 1;
  }
}
