// Sidebar
@import "variables";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0 0 40px;

  min-width: 300px;
  background-color: $primary-color-lighter;
  z-index: 0;

  overflow-x: hidden;
  overflow-y: scroll;

  .sidebar-item {
    width: 100%;
  }

  .sidebar-actions-wrap {
    width: 100%;
    padding-left: 10px;
  }

  .sidebar-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 10px);
    background-color: $primary-color-light;
  }

  h2, a, button {
    font-family: $font-stack;
  }

  h2, button {
    color: $primary-text-color;
  }

  a, button {
    text-align: left;
    font-weight: 400;
  }

  a {
    padding: 15px;
  }

  h2:first-of-type {
    margin-bottom: 30px;
  }

  button {
    padding: 10px;
    font-size: 120%;
    width: 100%;
    text-transform: capitalize;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  i {
    margin-right: 10px;
    -webkit-transition: $dropdown-transition; /* Safari */
    transition: $dropdown-transition;
    font-size: 70%;
  }

  a {
    color: $primary-color-lightest;
    font-size: 100%;
    width: calc(100% - 20px);
  }

  a:hover, button:hover, .clicked {
    background-color: $primary-color-lightest;
    color: $secondary-text-color;
  }

  .clicked i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: $dropdown-transition; /* Safari */
    transition: $dropdown-transition;
  }
}
