// Data Source global
@import "../../variables";

.data-source-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 40px;

  font-family: $font-stack;
}

.data-form-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}
