// data preview styling
@import "../../variables";

.data-preview-container {
  margin-top: 30px;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.data-preview {
  margin-top: 20px;
  padding: 10px 15px;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;
}
