<!DOCTYPE html>
<html>
  <head>
    <title>Chartesian</title>
    <%= csrf_meta_tags %>

    <!-- <script src="https://use.fontawesome.com/872b3d4c1a.js"></script> -->
    <!-- <script src="jquery-csv.js"></script> -->

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
